RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.holod-26\.kz$ [NC]
RewriteRule ^(.*)$ https://holod-26.kz/$1 [R=301,L]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://holod-26.kz/$1 [R=301,L]
ErrorDocument 404 /404.html
